.signup{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px;
    width: 500px;
}

.input-details input{
    margin: 20px auto;
    padding: 10px 30px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

button{
    margin: 20px auto;
    width: 190px;
    padding: 10px 20px;
    color: #fff;
    background: #ff4141;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.check-box{
    display: flex;
    justify-content: center;
    margin-right: 13%;
    gap: 5px;
}

.fill-inputs{
    margin: 0 auto;
}

.invalid{
    margin: 0 22%;
    text-align: left;
}

.placed-order .placed-order-text{
    color: #005B41;
}

.placed-order .placed-order-button{
    margin: 20px auto;
    width: 190px;
    padding: 10px 20px;
    color: #fff;
    background: black;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width : 600px){
    .signup{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        padding: 10px;
        width: 300px;
    }

    .check-box{
        display: flex;
        justify-content: center;
        margin-right: 19%;
        gap: 5px;
    }

    .invalid{
        margin: 0 4%;
        text-align: left;
    }

}

@media screen and (max-width : 330px){

    .signup{
        padding: 10px;
        width: 200px;
    }
    
    .input-details input{
        margin: 20px auto;
        width: 150px;
        padding: 10px;
        font-size: 12px;
    }

    .invalid{
        font-size: 10px;
        margin: 0 8%;
        text-align: left;
    }

    .check-box{
        font-size: 10px;
        margin-right :12%;
    }

    .fill-inputs{
        font-size: 10px;
    }

    .disable-button{
        display: flex;
        flex-direction: column;
    }
    
    button{
        margin: 20px auto;
        width: 120px;
        padding: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
    }

}

@media screen and (max-width:230px) {
    .signup{
        padding: 10px;
        width: 150px;
    }
    
    .input-details input{
        margin: 20px auto;
        width: 100px;
        padding: 10px;
        font-size: 12px;
    }

    .check-box{
        margin-right :-6%;
    }
    
}
