
.shopcategory-indexSort{
    display: flex;
    justify-content: space-between;
}

.shopcategory-indexSort h3{
    margin-top: -3px;
}
.shopcategory-products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}


.shopcategory-sort img{
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
}

.sort-by-category-hide{
    display: none;
}

.sort-by-category-display{
    margin-top: 10px;
    background: black;
    color: #fff;
    cursor: pointer;
}

.sort-by-category-display .category{
    padding: 15px 25px;
}

.sort-by-category-display .category:hover{
    background-color:#fff;
    color: black;
}

@media screen and (max-width : 310px){
    .shopcategory-indexSort{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}