.navbar{
    display: flex;
    justify-content: space-between;
}

.display-none{
    display: none;
}

.navbar-logo-title{
    display: flex;
} 

.navbar-logo-title #title{
    font-size: 28px;
    font-weight: 400;
    margin-top: 8px;
    margin-left: -20px;
}


.navbar-logo-title img{
    width: 65px;
    height: 65px;

}

.navbar-menu-hide{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    font-size: 22px;
    color: black;
}

.menu-item{
    color: black;
}

.nav-bar-menu-signup{
    display: none;
}

.navbar-signup-cart{
    display: flex;
    margin-right: 20px;
}

.navbar-signup-cart .signup{
    width: 100px;
    height: 30px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    background: white;
    font-size: 20px;
    outline: none;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
    padding: 5px 0;

}

.navbar-signup-cart img{
    width: 45px;
    height: 45px;
    margin-top: 8px;
    margin-left: -20px;
}

.navbar-logo-title #title{
    font-size: 28px;
    font-weight: 400;
    margin-top: 8px;
    margin-left: -20px;
}

.nav-login-count{
    position: relative;
    top: 8px;
    right:20px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background-color: #FF4141;
    color: white;
}


@media screen  and (max-width: 780px){
    .display-none{
        display: flex;
        width: 65px;
        height: 65px;
        margin-top: 0px;
    }

    .display-none img{
        width: 35px;
        height: 35px;
    }

    .navbar-menu-hide{
        display: none;
    }

    .navbar-menu{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       width: 180px;
       position: absolute;
       left: 0;
       top: 20px;
       margin-top: 50px;
       padding: 20px 0;
       box-sizing: border-box;
       background-color: black;
       color: #fff;

    }

    .menu-item{
        font-size: 18px;
        gap: 20px;
        padding: 20px 10px;
        color: #fff;
    }

    .menu{
        margin: 0 auto;
        font-size: 18px;
        padding: 10px 20px;
        color: #fff;
    }

    .menu:hover{
        background: #fff;
        color: black;
    }

    .menu-item:hover{
        color: black;
    }
    
}

@media screen  and (max-width: 470px){

    .navbar-logo-title{
        display: flex;
        margin-right: 40px;
    } 
    .nav-bar-menu-signup{
       display: block;
    }
    .navbar-signup-cart .signup{
        display: none;

    }
}

@media screen  and (max-width: 290px){
    .navbar{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }

    .navbar-signup-cart img{
        position: absolute;
        right: 5px;
    }

    .nav-login-count{
        position: absolute;
        right: 10px;
        width: 15px;
        height: 15px;
    }

}


